nav {
	background: rgba(0, 0, 0, 0.2) !important;
}

hr {
	margin: 20px 20px 10px 20px;
}

.backdrop {
	background-color: transparent !important;
}

.nav-wrapper {
	background: rgba(0, 0, 0, 0.2) !important;
	color: black;
	position: fixed;
}

.nav-btn {
	background: transparent !important;
	box-shadow: none !important;
	margin-top: 10px;
}

#main-section {
  text-shadow: 0 0 20px black;
  height: 100vh !important;
}

.main-section-icon-div {
	margin-top: 150px;
	position: absolute;
  bottom: 15%;
 	margin-left: calc(50% - 210px);
 	padding: 10px;
 	border-radius: 20px;
}

.main-section-anchor {
	display: inline-block !important;
	margin: 0 15px;
	z-index: 10;
}

.main-section-icon {
	height: 50px !important;
	width: 50px !important;
	display: inline-block !important;
	position: relative !important;
}


#project-header {
	margin: 0 0 0 0 !important;
	padding: 20px 20px 0px 20px;
}

#carousel-item-zero {
	background: url('assets/images/micdrop-spread.jpg');
	position: center;
	background-position: center;
	background-size: cover;
}

#carousel-item-one {
	background: url('assets/images/paws-spread.jpg');
	background-size: cover;
}

#carousel-item-two {
	font-family: 'Poppins', sans-serif;
	background: url('assets/images/trekkster.jpg');
	background-position: center;
	background-size: cover;
}

#carousel-item-three {
	background: url('assets/images/terra-spread.png');
	background-size: cover;
}

#carousel-item-four {
	background: url('assets/images/blackbeard.jpg');
	background-size: cover;
}

#project-description-carousel {
	height: 150px !important;
}

#project-menu {
	padding: 20px 20px 30px 20px;
	margin: 0 auto;
}

.project-menu-div {
	height: 100px !important;
	max-height: 100%;
	padding: 0 !important;
	margin: 0 10px 0 10px;
}

.project-menu-img {
	height: 100px !important;
	max-height: 100%;
	border-radius: 3px;
	width: 100% !important;
}

.project-thumbnail-title {
	margin: 0 auto;
}

.project-menu-div-bg {
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,0.3);
}

#project-menu-item-0 {
	background: url(assets/images/project-thumbnails/micdrop.png);
}

#project-menu-item-1 {
	background: url(assets/images/project-thumbnails/paws.png);
}

#project-menu-item-2 {
	background: url(assets/images/project-thumbnails/trekkster.png);
}

#project-menu-item-3 {
	background: url(assets/images/project-thumbnails/terra-thumbnail.png);
}

#project-menu-item-4 {
	background: url(assets/images/project-thumbnails/blackbeard.png);
}

#project-menu-item-0-title {
	font-family: 'Bungee Inline', cursive;
}

#project-menu-item-2-title {
	font-family: 'Fjalla One', sans-serif;
}

#project-menu-item-3-title {
	font-size: 35px;
	font-family: 'Acme', sans-serif;
}

#project-menu-item-4-title {
	font-family: 'Bungee Inline', cursive;
	font-size: 20px;
}

.carousel-slider{
	width: 100%;
	height: 400px !important;
}
.slider-description {
	width: 50%;
	background: blue !important;
}

.parallax-container {
  color: white;
}

#technologies {
	width: 100%;
	background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url('assets/images/faders.jpg') no-repeat;
	background-position: center;
	background-size: 100%;
	padding: 15px 0 30px 0;
  color: white;
  text-shadow: 0 0 20px black;
  z-index: -1;
}

#technologies-list {
	font-size: 18px !important;
	width: 80%;
	margin: 0 auto;
}

#parallax-img1 {
  z-index: -1;
	height: 1100px;
}

#parallax-img2 {
  z-index: -1;	
}

#portfolio {
	width: 100% !important;
	padding-top: 20px;

}

#portofolio-slider-container {
	color: white;
}

#about-me {
	height: 950px;
	z-index: 1;
}

#about-me .row {
	margin: 0;
	padding: 0;

}

#about-me-container {
	width: 70%;
	margin: 0 auto;
	color: black;
}

#about-me-text {
	font-size: 20px;
}

.about-me-paragraph {
	font-size: 16px;
}

.parallax-text {
	width: 100%;
	margin: 0 auto;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
}

.page-footer {
	margin-top: 0 !important;
	background: rgba(0,0,0,0.9) !important;
}

#mic-drop-title {
	font-family: 'Bungee Inline', cursive;
}

#paws-title {
	font-family: 'Fjalla One', sans-serif;
	font-weight: 500px;
}

#paws-logo {
	height: 15px;
	width: 15px;
}

#paws-logo-white {
	height: 10px;
	width: 10px;
}

#paws-logo-white-big {
	height: 18px;
	width: 18px;
}

.project-menu-div:hover {
	box-sizing: border-box;
	outline: 5px solid rgba(255, 255, 255, 1);
  outline-offset: -5px;
}

.project-menu-div-active {
	outline: 5px solid rgba(0, 255, 0, 1);
  outline-offset: -5px;
}

#launch-project-btn {
	margin-bottom: 30px;
	border: 2px solid #83CFF6;
}

#resume-modal {
	height: 90%;
}

.modal-content {
	padding: 3px !important;
	height: 100%;
}

#resume-object {
	width: 100%;
	height: 100%;
}

#img-audioengineer {
	height: 190px;
	width: 90%;
	margin: 20px auto 0 auto;
	background: url(assets/images/audioengineer.JPG);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	border: 10px solid black;
}

#img-pianist {
	border: 10px solid black;
	height: 160px;
	margin-top: 20px;
	width: 90%;
	background: url(assets/images/pianist.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

#img-programmer {
	border: 10px solid black;
	height: 180px;
	margin-top: 20px;
	width: 90%;
	background: url(assets/images/ga-group.JPG);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

#about-me-title {
	margin-top: 0 !important;
}

#piano-audio {
	width: 90%;
}

#engineer-audio {
	width: 90%;
	margin-left: 5%;
}

audio::-internal-media-controls-download-button {
	display:none;
}

audio::-webkit-media-controls-enclosure {
  overflow:hidden;
}

audio::-webkit-media-controls-panel {
  width: calc(100% + 30px);
}


