nav {
	background: transparent !important;
	box-shadow: none !important;
}

hr {
	margin: 20px 20px 10px 20px;
}

.backdrop {
	background-color: transparent !important;
}

.nav-wrapper {
	background: transparent !important;
	float: right;
	color: black;
	position: fixed;
}

.nav-btn {
	background: transparent !important;
	box-shadow: none !important;
	margin-top: 10px;
}

.side-nav {
	background: black !important;
	font-size: 40px;
}

.side-nav a {
	width: 100% !important;
	font-size: 20px !important;
	margin-top: 10px;
}

#main-section {
  text-shadow: 0 0 20px black;
  height: 100vh !important;
}

.main-section-icon-div {
	margin-top: 150px;
	position: absolute;
  bottom: 15%;
 	margin-left: calc(50% - 210px);
 	padding: 10px;
 	border-radius: 20px;
}

.main-section-anchor {
	display: inline-block !important;
	margin: 0 15px;
	z-index: 10;
}

.main-section-icon {
	height: 50px !important;
	width: 50px !important;
	display: inline-block !important;
	position: relative !important;
}


#project-header {
	margin: 0 0 0 0 !important;
	padding: 20px 20px 0px 20px;
	font-family: 'Bungee Inline', cursive;
}

#carousel-item-zero {
	background: url('assets/images/micdrop-spread.jpg');
	position: center;
	background-position: center;
	background-size: cover;
}

#carousel-item-one {
	background: url('http://i.imgur.com/g2yIeYP.jpg');
	background-size: cover;
}

#carousel-item-two {
	font-family: 'Poppins', sans-serif;
	background: url('assets/images/trekkster.jpg');
	background-position: center;
	background-size: cover;
}

#carousel-item-three {
	background: url('assets/images/terra-spread.png');
	background-size: cover;
}

#carousel-item-four {
	background: url('assets/images/blackbeard.jpg');
	background-size: cover;
}

#project-description-carousel {
	height: 150px !important;
}

#project-menu {
	padding: 20px 20px 30px 20px;
	margin-bottom: 0;
	text-align: center;
}

.project-menu-div {
	height: 100px !important;
	max-height: 100%;
	margin-top: 0 !important;
	margin-left: 5px;
	padding: 0 !important;
	width: 180px !important;
	display: inline-block !important;
	overflow: hidden;
	cursor: pointer;
}

.project-menu-img {
	height: 100px !important;
	max-height: 100%;
	border-radius: 3px;
	width: 100% !important;
}

.project-thumbnail-title {
	margin: 0 auto;
}

.project-menu-div-bg {
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,0.3);
}

#project-menu-item-0 {
	background: url(assets/images/project-thumbnails/micdrop.png);
	background-size: cover;
}

#project-menu-item-1 {
	background: url(assets/images/project-thumbnails/cardagram.png);
	background-size: cover;
}

#project-menu-item-2 {
	background: url(assets/images/project-thumbnails/trekkster.png);
	background-size: cover;
}

#project-menu-item-3 {
	background: url(assets/images/project-thumbnails/terra-thumbnail.png);
	background-size: cover;
}

#project-menu-item-4 {
	background: url(assets/images/project-thumbnails/blackbeard.png);
	background-size: cover;
}

#project-menu-item-0-title {
	font-family: 'Bungee Inline', cursive;
}

#project-menu-item-1-title {
	font-family: 'Carter One', cursive;
}


#project-menu-item-2-title {
	font-family: 'Fjalla One', sans-serif;
}

#project-menu-item-3-title {
	font-size: 35px;
	font-family: 'Acme', sans-serif;
}

#project-menu-item-4-title {
	font-family: 'Bungee Inline', cursive;
	font-size: 20px;
}

.carousel-slider{
	width: 100%;
	height: 400px !important;
}
.slider-description {
	width: 50%;
	background: blue !important;
}

.parallax-container {
  color: white;
}

#technologies {
	width: 100%;
	background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url('assets/images/faders.jpg') no-repeat;
	background-position: center;
	background-size: 100%;
	padding: 15px 0 30px 0;
  color: white;
  text-shadow: 0 0 20px black;
  z-index: -1;
}

#technologies-list {
	font-size: 18px !important;
	width: 80%;
	margin: 0 auto;
}

#parallax-img1 {
  z-index: -1;
	height: 1100px;
}

#parallax-img2 {
  z-index: -1;	
}

#portfolio {
	width: 100% !important;
	padding-top: 20px;

}

#portofolio-slider-container {
	color: white;
}

#about-me {
	height: 950px;
	z-index: 1;
}

#about-me .row {
	margin: 0;
	padding: 0;

}

#about-me-container {
	width: 70%;
	margin: 0 auto;
	color: black;
}

#about-me-text {
	font-size: 20px;
}

.about-me-paragraph {
	font-size: 16px;
}

.parallax-text {
	width: 100%;
	margin: 0 auto;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
}

.page-footer {
	margin-top: 0 !important;
	background: rgba(0,0,0,0.9) !important;
}

#mic-drop-title {
	font-family: 'Bungee Inline', cursive;
}

#paws-title {
	font-family: 'Fjalla One', sans-serif;
	font-weight: 500px;
}

#paws-logo {
	height: 15px;
	width: 15px;
}

#paws-logo-white {
	height: 10px;
	width: 10px;
}

#paws-logo-white-big {
	height: 18px;
	width: 18px;
}

.project-menu-div:hover {
	box-sizing: border-box;
	outline: 5px solid rgba(255, 255, 255, 1);
  outline-offset: -5px;
}

.project-menu-div-active {
	outline: 5px solid rgba(0, 255, 0, 1);
  outline-offset: -5px;
}

#launch-project-btn {
	margin-bottom: 30px;
	border: 2px solid #83CFF6;
}

#resume-modal {
	height: 90%;
}

.modal-content {
	padding: 3px !important;
	height: 100%;
}

#resume-object {
	width: 100%;
	height: 100%;
}

#img-audioengineer {
	height: 190px;
	width: 90%;
	margin: 20px auto 0 auto;
	background: url(assets/images/audioengineer.JPG);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	border: 10px solid black;
	min-width: 300px;
}

#img-pianist {
	border: 10px solid black;
	height: 160px;
	margin-top: 20px;
	width: 90%;
	background: url(assets/images/pianist.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;	
	min-width: 300px;
}

#img-programmer {
	border: 10px solid black;
	height: 180px;
	margin-top: 20px;
	width: 90%;
	background: url(assets/images/ga-group.JPG);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	min-width: 300px;
}

#about-me-title {
	margin-top: 0 !important;
}

#piano-audio {
	width: 90%;
}

#engineer-audio {
	width: 90%;
	margin-left: 5%;
}

audio::-internal-media-controls-download-button {
	display:none;
}

audio {
	min-width: 300px;
}

audio::-webkit-media-controls-enclosure {
  overflow:hidden;
}

audio::-webkit-media-controls-panel {
  width: calc(100% + 30px);
}

@media screen and (max-width: 480px) {
	#engineer-audio {
	margin-left: 0;
}
}


@media screen and (max-width: 820px) {
  #project-header {
    font-size: 8px;
  }
}

@media screen and (max-width: 620px) {
	#main-section {
		height: 70vh !important;
	}

	.main-section-text {
		text-align: center;
	}

	.main-section-text h1 {
		font-size: 30px;
	}

	.main-section-text h3 {
		font-size: 20px;
	}

	.main-section-icon {
		height: 45px !important;
		width: 45px !important;
	}

	.main-section-icon-div {
		text-align: center;
		margin: 0 25px;
		bottom: 0%;
	}

	.side-nav {
		background: black !important;
		font-size: 40px;
	}

	.side-nav a {
		width: 100% !important;
		font-size: 20px !important;
		margin-top: 10px;
	}

	#technologies {
		padding-top: 0;
		margin-top: 0;
		background: white;
		color: black;
	}

	#technologies h3 {
		margin: 0 auto;
		padding-top: 10px;
	}

	#technologies hr {
		margin: 0 auto;
	}

	#about-me {
		height: 1400px;
		text-align: center;
	}

	#about-me .m5 {
		width: 420px;
	}

	#about-me .about-me-paragraph div {
		width: 100%;
	}

	#about-me audio {
		width: 100%;
		margin: 0;
	}

	#img-audioengineer {
		margin: 0;
		padding: 0;
		width: 100%;
	}

}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

	#technologies {
		display: none;
	}
	#main-section {
		height: 93vh !important;
	}
	.main-section-icon-div {
		bottom: 10%;
		width: 100%;
		margin: 0 auto;
	}
	.main-section-icon-div a:nth-child(3),  .main-section-icon-div a:nth-child(4) {
		display: none !important;
	}
	#project-header {
		font-size: 30px;
	}
	.project-menu-div {
		width: 250px !important;
		margin: 2px auto !important;
	}
	.project-details {
		display: none;
	}
	.project-description p {
		font-size: 12px !important;
	}
	#about-me {
		height: 1300px;
	}
	#about-me-container {
		margin: 0 auto;
		width: 95% !important;
	}
	#about-me p {
		font-size: 13px;
	}
	#about-me-text {
		font-size: 15px !important;
	} 
	#about-me .m5 {
		width: 100% !important;
		padding-left: 8px !important;
	}
	.about-me-paragraph {
		width: 100% !important;
	}
	#project-carousel {
		width: 100% !important;
	}
	.footer-projects, .footer-header {
		display: none;
	}
	.page-footer {
		padding: 0 !important;
	}
	.page-footer p {
		margin-bottom: 0 !important;
	}
	.footer-copyright {
		text-align: center;
	}

}
